[user]
	name = Robbie Mackay
	email = rm@robbiemackay.com
	signingkey = 096C06F30942A5F2
[color]
	ui = auto
[help]
	autocorrect = 20
[alias]
	lol = log --graph --color --decorate --abbrev-commit --pretty=format:'%C(auto)%h%d %s %Cgreen(%cr)%C(bold blue) <%an>%Creset'
	lg = log --graph --color --decorate --abbrev-commit
	feature = flow feature
	co = checkout
	pr = pull-request
	recent = for-each-ref --sort=-committerdate refs/heads/ --count=20
	recent-feature = for-each-ref --sort=-committerdate refs/heads/feature/ --count=20
[core]
	excludesfile = /Users/robbie/.gitignore
	editor = subl -nw
	ignorecase = false
	whitespace = blank-at-eol,blank-at-eof,space-before-tab
#[filter "tabspace"]
#	smudge = gunexpand --tabs=2 --first-only
#	clean = cat
#[filter "media"]
#	clean = git-media-clean %f
#	smudge = git-media-smudge %f
[apply]
	whitespace = warn
[push]
	default = simple
[merge]
	tool = opendiff
[pull]
	ff = only
